@import "../../index.css";

.dialog {
    position: fixed;
    top: 8vh;

    border-radius: 0.5rem;
    min-width: 300px;

    background-color: var(--text-clr);
    color: var(--background-clr);
}

.header {
    display: flex;
    justify-content: center;
}

.header > * {
    flex: auto;
    border-radius: 0;
}

.followList {
    max-height: 70vh;
    min-height: 40vh;
    overflow-y: scroll;
    margin: 1rem 0;
}

.user > a {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 2px solid grey;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0rem 0.5rem 0.5rem 0;   
}

.user > a:hover {
    border-color: var(--accent-clr-hightlight);
}

.user h4 {
    color: var(--background-clr);
}

.user img {
    max-width: 70px;
    max-height: 70px;
    aspect-ratio: 1/1;

    object-fit: cover;
    border-radius: 50%;
}

.closeBtn {
    width: 100%;
}