.dialog {
    position: fixed;
    top: 10vh;

    border-radius: 1rem;
    min-width: 300px;

    background-color: var(--text-clr);
    color: var(--background-clr);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);
}

.dialog > form {
    display: flex;
    flex-direction: column;

    min-width: 320px;
    max-width: 70ch;
    padding: 2rem;
}

.dialog > form > input,
.dialog > form > button,
.dialog > form > textarea  {
    margin-bottom: 1rem;
}

.errorList {
    text-align: center;
    list-style: none;
    margin-bottom: 1rem;

    padding-left: 0;

    color: red;
}

.dialog > form > input,
.dialog > form > textarea {
    line-height: 2;
    border-radius: 0.5rem;
    padding: 5px;
}