@import "../index.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > h1 {
    color: var(--text-clr);
}

.header > h1 > span {
    color: #d34317;
}

.main > p {
    max-width: 60ch;
    margin: 0 auto;
}