@import "../../index.css";

.profileContainer {
    border: 2px solid var(--text-clr);
    border-radius: 0.5rem;

    text-align: start;

    padding: 1rem;
    background-color: var(--background-clr-shade);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.137);
}

.profileUpper {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text-clr);
}

.profileUpper > img {
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;

    object-fit: cover;
    border-radius: 50%;
}

.profileUpperRight {
    width: 100%;
}

.profileUpperRight > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}

.profileLower {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.profileLower * {
    padding: 1rem;
    font-weight: 600;
    text-align: center;

    font-size: 1rem;
    color: var(--text-clr);

    margin: 0.5rem;
}

.profileLower > button {
    background-color: transparent;
    height: fit-content;
    line-height: 1.5;

    border-radius: 0;
    border: none;
}

.profileLower > button:hover {
    color: var(--accent-clr-highlight);
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
    .profileUpper {
        flex-direction: column;
    }

    .profileLower {
        flex-direction: column;
    }
}

