#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr min(300px, 35vw);
  gap: 1rem;
}

.mainContainer > main > p {
  font-size: 1.5rem;
  margin-top: 4rem;
}

.profileSuggestions {
  border: 2px solid white;
  border-radius: 0.5rem;

  height: fit-content;
  padding: 1rem;
}


@media (max-width: 800px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }

  .profileSuggestions {
    word-break: break-all;
    max-width: 100%;
  }
}