#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContainer {
  display: flex;
  gap: 1rem;
}

.mainContainer > main {
  width: 100%;
}

.mainContainer > main > p {
  font-size: 1.5rem;
  margin-top: 4rem;
}

.profileSuggestions {
  border: 2px solid white;
  border-radius: 0.5rem;

  height: fit-content;
  padding: 1rem;

  max-width: 30vw;
}


@media (max-width: 800px) {
  .mainContainer {
    flex-direction: column;
  }

  .profileSuggestions {
    word-break: break-all;
    max-width: 100%;
  }
}