@import "../../index.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--text-clr);
    margin-bottom: 2rem;
}

.header > h1 {
    color: var(--text-clr);
}

.header > h1 > span {
    color: var(--accent-clr);
}

.header > nav {
    display: flex;
    gap: 1rem;
    font-size: 1.15rem;
}

.icon {
    height: 1.65rem;
}

@media (max-width: 760px) {
    .header {
        flex-direction: column;
        margin-bottom: 1rem;
        height: fit-content;
    }

    .header > h1 {
        margin: 0.8rem;
        font-size: 2.5rem;
    }

    .header > nav {
        font-size: 1rem;
    }

    .icon {
        height: 1.45rem;
    }
}